
/*6*/
.sprite_container {
   height: 346px;
   display: flex;
   align-items: center;
   background-color: rgb(255, 210, 210);
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.sprite_image {
   height: 346px;
   width: 2252px;
}

.sprite_container:hover .sprite_image {
   background: url(man.png);
   animation: write 1s steps(8) infinite;
}

@keyframes write {
   100% {
      background-position: -2450px;
   }
}
/*8*/
.anim8 {
   position: relative;
   margin: 4%;
   width: 300px;
   height: 300px;
   background: rgb(255, 210, 210);
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.anim8 label {
   position: absolute;
   top: 20%;
   left: 10%;
   font-size: 30px;
   height: 15%;
   width: 80%;
   color: white;

}

.anim8 input {
   position: absolute;
   width: 80%;
   top: 40%;
   left: 7%;
   height: 15%;
   background: #e3d1de;
   border: none
}

.anim8 input:focus~label {
   animation-name: label;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-fill-mode: forwards;
}

@keyframes label {
   from {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
   }

   to {
      -webkit-transform: translateX(25%);
      transform: translateX(20%);
   }
}
.anim4 {
   position: relative;
   margin: 4%;
   width: 300px;
   height: 300px;
   background: rgb(255, 210, 210);
   box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.anim4 .pages {
   position: absolute;
   width: 90%;
   height: 20%;
   top: 40%;
   left: 5%;
   background:rgb(255, 210, 210);
}

.anim4 .pages .center {
   position: absolute;
   width: 28%;
   left: 36%;
   bottom: 0%;
   font-size: 250%;
   background:rgb(255, 210, 210);

}

.anim4 .pages .center p {
   padding: 0%;
   margin: 0%;
   color: white;
   font-weight: 500;
   font-family: cursive;

}

.anim4 .pages .page1 .ltop {
   position: absolute;
   background-color: white;
   width: 15%;
   height: 10%;
   top: 45%;
   left: 7%;
   border-radius: 20%;
   opacity: 50%;
   pointer-events: none;

}

.anim4 .pages .page1 .lbottom {
   position: absolute;
   background-color: white;
   width: 15%;
   height: 10%;
   bottom: 45%;
   left: 7%;
   border-radius: 20%;
   opacity: 50%;
   pointer-events: none;
}


.anim4 .pages .page4 .rtop {
   position: absolute;
   background-color: white;
   width: 15%;
   height: 10%;
   top: 34%;
   right: 7%;
   border-radius: 20%;
   pointer-events: none;
   transform: rotate(20deg)
}

.anim4 .pages .page4 .rbottom {
   position: absolute;
   background-color: white;
   width: 15%;
   height: 10%;
   bottom: 34%;
   right: 7%;
   border-radius: 20%;
   pointer-events: none;
   transform: rotate(-20deg)
}

[type="checkbox"] {
   height: 100%;
   width: 30%;
   position: absolute;
   right: 0%;
   opacity: 0%;

}

[type="checkbox"]:checked {
   left: 0%;
}

[type="checkbox"]:checked~.center {
   opacity: 0%;
}

.instart:checked {
   z-index: 0;
}

.in2:checked {
   z-index: 1;
}

.in3:checked {
   z-index: 2;
}

.in4:checked {
   z-index: 3;
}

.in4:checked~.rtop {
   animation-name: rtop;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;

}

.in4:checked~.rbottom {
   animation-name: rbottom;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;

}

.instart:checked~.ltop {
   animation-name: ltop;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;

}

@keyframes rtop {

   0% {
      transform: translateY(0%) rotate(20deg);
      opacity: 100%
   }

   100% {
      transform: translateY(100%) rotate(0deg);
      opacity: 50%;
   }

}

@keyframes rbottom {

   0% {
      transform: translateY(0%) rotate(-20deg);
      opacity: 100%
   }

   100% {
      transform: translateY(-100%) rotate(0deg);
      opacity: 50%;
   }

}

@keyframes ltop {

   0% {
      transform: translateY(0%) rotate(0deg);
      opacity: 50%
   }

   100% {
      transform: translateY(-110%) rotate(-20deg);
      opacity: 100%;
   }

}

.instart:checked~.lbottom {
   animation-name: lbottom;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: linear;

}

@keyframes lbottom {

   0% {
      transform: translateY(0%) rotate(0deg);
      opacity: 50%
   }

   100% {
      transform: translateY(110%) rotate(20deg);
      opacity: 100%;
   }

}
.grid{
   display: flex;
   justify-content: space-between;
}
